@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
@font-face {
    font-family: 'Pretendard';
    src: url('./images/Pretendard-Thin.woff') format('woff');
    font-weight: 100;
    font-display: swap;
}
html,
body {
  height: 100%;
  margin: 0;
}
*{
    font-family: 'Pretendard';
    box-sizing: border-box;
}
body {
  background: radial-gradient(
    96.74% 276.79% at 3.59% 5.28%,
    #F0F4FF 0%,
    #A5B6EE 100%
  );
  background-size: cover;
}
p,h1,hr {
    margin: 0;
}
h1{
    color:white;
    margin-bottom: 23px;
}
hr{
    size: 1px;
}
.wrapper {
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.timer-box {
    background: linear-gradient(144.07deg, #5572BB 2.13%, #374B7C 102.97%);
/* shadow */

box-shadow: 20px 20px 60px 10px rgba(55, 75, 124, 0.4);
border-radius: 16px;
padding: 48px 58px 40px;
width: 400px;
}

.square {
    width: 80px;
    height: 80px;
    background: url('./img/box.png') no-repeat ;
    background-size: contain;
    padding: 16px 14px;
    font-weight: 700;
font-size: 40px;
color: white;
display: inline-block;
}

.flexCont {
    display: flex;
    margin-top: 33px;
    margin-bottom: 40px;
}

button {

    border-radius: 50px;
    width: 112px;
    height: 48px;
    background: #324577;
    border: 0;
    font-weight: 700;
font-size: 14px;
color:#617199;
}

.start::before {
    content: url("/img/Vector\ 7.svg") no-repeat;
    display: block;
}

.logo{
    margin-bottom: 60px;
}